    <footer class="footer">
        <p>
            OCoffee  copyright...
        </p>
        <p> 
            Réalisé par: <span>Thierry Kriebs</span> 
        </p>
        
        <a href="#" class="btn-footer"> Mentions légales</a>
    </footer>

