<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../partials/head') %> 

        <title>OCoffee - gestion des cafés</title>

         <!-- Style -->
         <link rel="stylesheet" href="/css/newCoffee.css">
         
         
    </head>

    <body>
        <div id="container">

        <header class="header">
            <%- include('../partials/header') %>
        </header>
        
        <main class="main">
            <section class="section-message">
               <%- message %>
            </section>
        
            <div class="divReturnButton">
                <a href="/newCoffee" class="btn">Retour au formulaire d'ajout de café</a>
            </div>

            <div class="divReturnButton">
                <a href="/" class="btn">Accueil</a>
            </div>
        </main>
               
        <%- include('../partials/footer') %>
    </body>
</html>